.ck.ck-editor {
	overflow-x: hidden;
}

.ck.ck-editor__editable  {
	min-height: 400px;
}

.js-choose-img + .img-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 10px;
}

.js-choose-img + .img-wrap a {
	display: block;
	width: 155px;
	margin-right: 10px;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.js-choose-img + .img-wrap a img {
	display: block;
	width: 100%;
}

.js-choose-img + .img-wrap .file-name {
	font-size: 16px;
}